header .menu {
  position: relative;
}
.carousel {
  position: relative;
}

header .chinhsach {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  object-fit: 0;
  transition: color 0.3s linear;
}

header .chinhsach .lics {
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .header .chinhsach:hover .lics a {
  color: aquamarine;
} */

header .menu .chinhsach {
  display: block;
}

header .chinhsach li a:hover {
  color: red;
}
