body {
  font-family: "Roboto", sans-serif;
  /* max-width: 1440px; */
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.input-box i {
  font-size: 20px;
  text-align: center;
  line-height: 2.5;
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-box i:hover {
  color: red;
}
