#banner {
  background-color: #f1e8d7;
  padding-bottom: 100px;
}

.text__banner h3 {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}

.text__banner p {
  font-size: 16px;
  margin: 0 auto;
  width: 800px;
  line-height: 1.5;
  text-align: center;
}

.text__banner {
  text-align: center;
}

hr.dotted {
  border-top: 3px dotted #bbb;
  margin: 0 auto;
  width: 16%;
  margin-top: 10px;
}
